

.about {
    min-height: 100vh;
    background: #000;
    text-align: center;
    color: #c5c5c5;
    font-weight: bolder;
  }
  
  .bio {
    text-align: left;
    padding-left: 2vw;
  }
  
  .bio-img {
    box-shadow: 5px 10px 18px #888888;
    transition: all 0.2s ease-in-out;
    width: 40vh !important;
    height: 50vh !important;

  }
  
  .bio-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 10px 18px #3b5998;
    
  }
  
  .picture {
      width: 100%;
      height: 30rem;

  }


  .skills-row{
 
    margin-left: 0 !important;
    
  }

  .skills{
    list-style-type: none;
    
    float: left;
  }

  .skills-container{
    margin-top: 3rem;
    
    
  }
.skills i{
  /* top: 3%; */
margin-right: 1rem;
position: absolute;
left: 0;
display:inline-block;

}
.skills li{
  align-self: left;
  vertical-align: middle;
  
  
  }

  ul{
    padding-inline-start: 0.8rem;

  }