.work{
  min-height: 100vh;
  background: #000;
  text-align: center;
  color: #c5c5c5;
  font-weight: bolder;
}


.work-row{
  margin-top: 1rem;
}

.company{
  font-weight:bolder !important;
}

.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.10);
	-moz-transform: scale(1.10);
	-o-transform: scale(1.10);
	-ms-transform: scale(1.10);
	transform: scale(1.10);
}

.project-img {
  box-shadow: 5px 10px 18px grey;
  transition: all 0.2s ease-in-out;
  width: 90vh !important;
  height: 55vh !important;
  opacity: 0.5;


}

.project-img:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 18px rgb(202, 200, 200);
  cursor: pointer;
  opacity: 1;
  
}

.cards{
  padding-right: 0rem !important;
  margin-right: 5rem !important;
  margin-left: 5rem !important;

  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .project-img {
    width: 45vh !important;
    height: 40vh !important;
  } 
  .icon{
    margin-right: 4rem !important;
  }
}

@media only screen and (max-width: 450px) {
  .project-img {
    width: 35vh !important;
    height: 20vh !important;
  }  
}

@media only screen and (min-width:600px) and (max-width: 1400px) {
  .project-img {
    width: 55vh !important;
    height: 30vh !important;

  } 
  .cards{
    padding-left: 0 !important;
    margin-left: 0 !important;
    align-self: center !important;
    margin-right: 8rem !important;
  }

}

.col{
  flex-grow: 0;
}

.icon{
  margin: 2rem;
  float: right;
  text-decoration: none;
  color: gray;
  
}

.github-link :hover{
  
  color: white;
}


.tech-stack li{
  display: inline-block !important;
  list-style-type: none;
  margin-right: 1rem;
  font-weight: lighter;
  font-size: 0.8rem;
}

.tech-stack ul :hover{
  font-weight: bolder;
  font-size: 1.2rem;
}

.tech-stack ul{
  left: 0;
  margin-right: 1rem;
  padding-inline-start: 0;
}

.tech-stack{
 padding: 0 !important;
}

.bio{
 margin-left: 5rem;
 margin-right: 3rem;
 margin-bottom: 3rem;
 padding: 0!important;
}

.bio h5{
  font-weight: bolder;
  margin-bottom: 3rem;
}

.github-link{
  float: right !important;
}

.icon{
  margin-right: 20vh;
}
