@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

body{
  font-family: 'Raleway' !important;
}
/********* NAVBAR  ***********/
nav{
  display: unset i !important;
}

.logo{
  height: 4rem;
  width: 4rem;
}

/* Modify the backgorund color */ 
.navbar-custom { 
	background-color:#000000; 
} 

.navbar-brand{
  padding: 0 !important;
  max-width: 5rem;
  max-height: 4rem;

}

.container{
  padding: 1.5rem;
}

/********* MENU LINKS  ***********/

nav a.nav-link{
  font-weight: 300;
  letter-spacing: 0.10rem;
  margin-left: 3rem;
}

/**** Effects ****/
.animation a {
  position: relative;
  color: white;
}
.animation a:hover {
  color: white;
}
.animation a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.05rem;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.animation a:hover:before {
  visibility: visible;
  background-color: #fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}