@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

html {
  scroll-behavior: smooth !important;
}

body{
  font-family: 'Raleway' !important;
}
/********* NAVBAR  ***********/
nav{
  display: unset i !important;
  z-index: 2;
  scroll-behavior: smooth !important;
}
.row{
  margin-right: 0 !important;
  margin-left: 0 !important;

}
.logo{
  height: 4rem;
  width: 4rem;
}

/* Modify the backgorund color */ 
.navbar-custom { 
	background-color:#000000; 
} 

.navbar-brand{
  padding: 0 !important;
  max-width: 5rem;
  max-height: 4rem;

}

.container{
  padding: 1.5rem;
}

/********* MENU LINKS  ***********/

nav a.nav-link{
  font-weight: 300;
  letter-spacing: 0.10rem;
  margin-left: 3rem;
}

/**** Effects ****/
.animation a {
  position: relative;
  color: white;
}
.animation a:hover {
  color: white;
}
.animation a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.05rem;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.animation a:hover:before {
  visibility: visible;
  background-color: #fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header-wrapper{
  position: relative;
  /* background-color: #000000; */
  background: url(wallpaper_3.jpg);
  /* background: url(wallpaper_3.jpg) no-repeat; */
 background-size: cover;
 background-position: center;
 height: 90vh;
 
}

.main-info{
  display: flex;
  position: absolute !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.typed-text{
  font-weight: bolder;
  font-size: 2rem;
  color: white;

}

.btn-contact{
  text-decoration: none i !important;
  font-weight: bold;
  margin: 2rem;
  border: 1px solid white;
  border-radius: 0;
  padding: 0.4rem 0.5rem 0.5rem ;
  color: white;
}




@keyframes push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.push {
  text-decoration: none !important;
  color: white !important;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.contact-button button {
  margin-top: 3rem;
  border-color: white !important;
  color: white !important;
  background-color: Transparent !important;
  background-repeat:no-repeat;
}

.push:hover {
  animation-name: push;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  z-index: 1;
}

.scrollTop {
  position: fixed; 
  width: 3rem;
  bottom: 20px;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: gray;
  right: 1rem;
  
}

.scrollTop:hover{
  opacity: 10;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
